.svg-link {
	padding: 5px;
	position: relative;
	margin: 0 auto;
	display: block;
	max-width: 400px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-bottom: 24px;
}
.svg-link img {
}
.svg-link:hover {
	text-decoration: none;
}
.svg-link::after {
	content: "View SVG";
	display: block;
	font-size: 80%;
	font-weight: 700;
	background: #fff;
	color: #000;
	padding: 5px;
	margin: 8px -5px -5px -5px;
}
.animation-link::after {
	content: "View Animation"
}
.project-link::after {
	content: "View Project"
}
.tool-link::after {
	content: "View Tool"
}
.render-link::after {
	content: "View Render"
}
.book-link::after {
	content: "View Book"
}
h1 > a:hover, h2 > a:hover, h3 > a:hover ,
h1 > a, h2 > a, h3 > a {
	color: white;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover {
	text-decoration: underline;
}
main {
	padding-top: 20px;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}
footer {
	border-top: 1px solid #ccc;
	text-align: center;
}
